<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NAuth</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NAuthApp.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="col-lg-8 mx-auto p-4 py-md-5">
        <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
            <a asp-action="Index" asp-controller="Home" class="d-flex align-items-center text-dark text-decoration-none">
                <img src="~/img/NAuthExpColor.png" height="48" />
            </a>
            <div class="m-auto"></div>
            <ul class="nav me-3">
                <li><a asp-action="B2B" class="nav-link px-2 text-secondary">Для бизнеса</a></li>
                <li><a asp-action="Privacy" class="nav-link px-2 text-secondary">ПДн</a></li>
            </ul>
            <a asp-action="Account" asp-controller="User" class="btn btn-outline-primary px-4 me-md-2">Войти</a>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer class="pt-5 my-5 text-muted border-top">
            Шалютов Андрей &middot; &copy; 2023
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
