@{
    Layout = "_LayoutB2B.cshtml";
}
<div class="row flex-lg-row-reverse align-items-center mb-5 container">
    <div class="col-10 col-sm-8 col-lg-6">
        <img src="~/img/identity security.jpg" class="d-block mx-lg-auto img-fluid" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
        <div class="lh-1 mb-3 spacious fs-3">Федеративное управление доступом для вашей экосистемы</div>
        <p>Обеспечьте единый вход для ваших проектов с помощью управляемого сервиса</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a asp-action="Index" class="btn btn-primary btn-lg px-4 me-md-2">Подключить</a>
        </div>
    </div>
</div>
<div class="container mt-2">
    <h2 class="pb-2 border-bottom">Возможности</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <img src="~/img/snap.png" height="52">
            </div>
            <h4 class="fs-3">Простое подключение</h4>
            <p>Зарегистрируйте новое клиентское приложение и начните работу с шаблонами из документации.</p>
            <a href="#" class="icon-link">
                Документация
            </a>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <img src="~/img/identity.png" height="52">
            </div>
            <h3 class="fs-3">Контроль удостоверений</h3>
            <p>Управляйте аккаунтами и их жизненным циклом с помощью специального корпоративного приложения.</p>
            <a href="#" class="icon-link">
                Скачать
            </a>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <img src="~/img/flexibility.png" height="52">
            </div>
            <h3 class="fs-3">Гибкая настройка</h3>
            <p>Используйте гибкую логику федеративной идентификации для присвоения утверждений субъектам.</p>
            <a href="#" class="icon-link">
                Изучить
            </a>
        </div>
    </div>
</div>