@{
    ViewData["Title"] = "Помощь";
}
<h1>@ViewData["Title"] <span class="badge rounded-pill text-bg-primary bg-primary">В разработке</span></h1>

<p>Здесь собраны ответы на основные вопросы</p>
<h2 id="signin">Как войти в аккаунт</h2>
