@{
    ViewData["Title"] = "Главная";
}

<h1>Безопасноть данных - наша забота</h1>
<p class="fs-5 col-md-8">Добро пожаловать в систему аутентификации и авторизации NAuth</p>

<div class="mb-5">
    <a class="btn btn-primary btn-lg px-4" asp-action="Account" asp-controller="User">Войти в аккаунт</a>
</div>

<hr class="col-3 col-md-2 mb-5">

<div class="row g-5">
    <div class="col-md-6">
        <h2>Поддержка</h2>
        <ul class="icon-list ps-0">
            <li class="d-flex align-items-start mb-1"><a asp-action="Privacy">Политика конфиденциальности</a></li>
        </ul>
    </div>

    <div class="col-md-6">
        <h2>Помощь</h2>
        <p>Впервые на сайте? Здесь вы найдёте ответы на часто задаваемые вопросы</p>
        <ul class="icon-list ps-0">
            <li class="d-flex align-items-start mb-1"><a asp-action="Help" asp-fragment="signin">Как войти в аккаунт?</a></li>
            <li class="d-flex align-items-start mb-1"><a href="#">Что делать если не удаётся войти?</a></li>
            <li class="d-flex align-items-start mb-1"><a href="#">Как восстановить пароль?</a></li>
        </ul>
    </div>
</div>

<div>
    <h5>Мы готовы помочь</h5>
    <p>Напишите нам: <a href="mailto:account@univeris.tech">account@univeris.tech</a></p>
</div>