


body {
  display: flex;
  align-items: center;
  padding: 18px;
}

.form-signin {
  max-width: 330px;
  padding: 16px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.glasscard {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(249, 253, 255, 0.6);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.8);
}

.glasscard-profile {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.8);
}

.profile-header {
  max-width: 950px;
  padding: 12px;
}
