@using System.Security.Claims;
@{
    ViewData["Title"] = "Аккаунт";
    Layout = "_LayoutAccount.cshtml";
}
<div class="profile-header glasscard-profile">
    <div class="m-2">
        <div class="container-fluid mt-2 mb-3">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="~/img/NAuthShieldColor.png" height="48" style="margin-top: -2%;" />
                <span class="fs-5 text-black"><strong>Аккаунт</strong></span>
            </a>
        </div>
        <div class="">
            <div class="card" style="border-radius: 15px;">
                <div class="card-body m-1">
                    <div class="">
                        <img src="~/img/user.png" alt="photo" class="img-fluid" style="height: 56px; border-radius: 10px;">
                        <div class="lh-1 mt-1">
                            <h4 class="mb-0 lh-1">@Context.User.FindFirst(ClaimTypes.Surname)?.Value @Context.User.FindFirst(ClaimTypes.Name)?.Value @Context.User.FindFirst("LastName")?.Value</h4>
                            <small><span class="text-muted">@@@Context.User.FindFirst(ClaimTypes.Upn)?.Value</span></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container p-2">
                <div class="list-group mt-2">
                    <a href="#" class="list-group-item list-group-item-action container gap-2 py-2 text-start" aria-current="true">
                        <img src="~/img/change.png" alt="twbs" height="28" class="flex-shrink-0">
                        <span class="ms-2">Сменить пароль</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action container gap-2 py-2 text-start" aria-current="true">
                        <img src="~/img/edit.png" alt="twbs" height="28" class="flex-shrink-0">
                        <span class="ms-2">Редактировать аккаунт</span>
                    </a>
                </div>
                <div class="m-1 text-start text-muted"><small>Телефон</small></div>
                <div class="input-group mb-1">
                    <input type="tel" class="form-control rounded w-100" placeholder="Телефон" value="+@Context.User.FindFirst(ClaimTypes.MobilePhone)?.Value">
                </div>
                <div class="m-1 text-start text-muted"><small>Email</small></div>
                <div class="input-group mb-1">

                    <input type="email" class="form-control w-100 rounded" placeholder="Email" value="@Context.User.FindFirst(ClaimTypes.Email)?.Value">
                </div>
                <button class="btn btn-outline-success mt-2 w-100" disabled>Сохранить</button>
                
            </div>
            <div class="container mt-2 p-2">
                <a asp-action="NSignOut" class="btn btn-outline-danger w-100">Выйти</a>
            </div>
        </div>
    </div>
</div>