@model AuthPair
@{
    ViewData["Title"] = "Вход в систему";
    Layout = "_LayoutSignIn.cshtml";
}
<div class="form-signin glasscard">
    <div>
        <form asp-action="NSignIn" asp-controller="User" class="m-4">
            <a asp-action="Index" asp-controller="Home" class="navbar-brand">
                <p class="mt-2 mb-2">
                    <img src="~/img/NAuthExpColor.png" height="56" />
                </p>
            </a>
            <h4 class="mb-2 fw-normal">Войдите в аккаунт</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Username" class="form-control" id="userinput" />
                <label asp-for="Username" for="userinput"></label>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Password" type="password" class="form-control" id="password" />
                <label asp-for="Password" for="password"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input type="submit" value="Войти" class="w-100 btn btn-lg btn-primary" />
            </div>
            <a asp-action="SignUp" class="link-secondary">Зарегистрироваться</a>
            <p class="mt-2 mb-0 text-muted">&copy; 2023</p>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}